
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}


.container {
    border: 1px solid rgb(0, 0, 0);
    padding: 30px;
    width: 500px; 
    max-width: 90%; 
    margin: 30px auto; 
    background-color: white;
}


h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    margin-bottom: 15px;
    align-items: flex-start; 
}


.form-group label {
    width: 150px; 
    text-align: left;
    margin-right: 10px;
    padding-top: 5px;
}


.form-group input[type="text"], 
.form-group input[type="email"], 
.form-group textarea, 
.form-group select {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid black;
    box-sizing: border-box;
}


.date-input input[type="date"] {
    flex-grow: 0;
    width: 180px;
}


.large-input {
    align-items: flex-start;
}
.large-input textarea {
    min-height: 80px;
    resize: none;
}


.checkbox-row {
    align-items: center;
   
}
.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
.checkbox-group label {
    width: auto;
    margin-right: 20px;
    padding-top: 0;
    font-weight: normal;
}


.button-group {
    margin-top: 30px;
    text-align: center;
}


.button-group input[type="submit"], 
.button-group input[type="reset"] {
    padding: 8px 20px;
    margin: 0 10px;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
    font-weight: bold;
}